.ndjp.default {
  canvas {
    width: 100%;
    height: auto;
    background-color: $video_bg;
  }

  .controls {
    background-color: $controls_bg;
    padding: $padding;
    margin: -4px 0 0;

    a {
      color: $buttons_fg;
      padding: 0 $padding;
      text-decoration: none;

      &:hover {
        color: $buttons_hover;
      }
    }

    label {
      color: $buttons_fg;
      font-family: monospace;
      font-size: 80%;
    }

    progress {
      width: 75%;
      float: right;
      vertical-align: middle;
      margin-top: 5px;
    }
  }
}