.ndjp {
  position: relative;
  border: 1px solid black;
  background-color: $video_bg;
  text-align: center;
  * {
    box-sizing: border-box;
  }

  &.common {
    .stop, .lapse, .step, .frames, .live, .rec {
        display: none;
    }
  }

  &.full {
    .live, .rec {
        display: none;
    }
  }

  &.live {
    .play, .pause, .stop, .lapse, .step, .frames, progress, .thumb {
        display: none !important;
    }
  }

  &.fullscreen {
    &.vertical {
        canvas {
          width: auto !important;
          height: 100% !important;
        }
    }
    canvas {
      top: 0;
      bottom: 0;
      margin: auto;
      position: absolute;
    }
    .panel {
      position: fixed;
      width: 100%;
      bottom: 0;
      left: 0;
    }
  }

  canvas {
    width: 100%;
    height: auto;
    background-color: $video_bg;
    vertical-align: top;
    display: block;
  }

  .panel {
    background-color: $controls_bg;
    padding: $padding;
    display: flex;
    line-height: 20px;

    a {
      color: $buttons_fg;
      text-decoration: none;
      width: 20px;
      text-align: center;

      &:hover {
        color: $buttons_hover;
      }
      &.rec {
        &::before {
            color: #f44336;
        }
      }
    }

    label {
      color: $buttons_fg;
      font-family: monospace;
      white-space: nowrap;
      font-size: 80%;
      &.lapse {
        margin-left: $padding;
      }
      &.live {
        text-align: center;
        width: 100%;
      }
    }

    progress {
      vertical-align: middle;
      margin: 5px;
      cursor: pointer;
      width: 100%;
    }

    .thumb {
      position: absolute;
      bottom: 35px;
      border: 1px solid black;
      margin: 0;
      padding: 0;
      background-color: $controls_bg;
      display: none;
      img {
        max-width: 100%;
        display: block;
        vertical-align: top;
      }
      .caption {
        font-size: 80%;
        overflow: hidden;
        text-align: center;
      }
    }
  }
}