.ndjp {
  position: relative;
  border: 1px solid black;
  background-color: $video_bg;
  text-align: center;

  canvas {
    width: 100%;
    height: auto;
    background-color: $video_bg;
  }

  .controls {
    background-color: $controls_bg;
    padding: $padding;
    margin: -4px 0 0;
    display: flex;
    line-height: 20px;

    a {
      color: $buttons_fg;
      padding: 0 $padding;
      text-decoration: none;
      width: 20px;
      text-align: center;

      &:hover {
        color: $buttons_hover;
      }
    }

    label {
      color: $buttons_fg;
      font-family: monospace;
      white-space: nowrap;
      font-size: 80%;
    }

    progress {
      vertical-align: middle;
      margin: 5px 5px 0 5px;
      cursor: pointer;
      width: 100%;
    }

    .thumb {
      position: absolute;
      bottom: 35px;
      border: 1px solid black;
      margin: 0;
      padding: 0;
      background-color: $controls_bg;
      img {
        max-width: 100%;
      }
      .caption {
        font-size: 80%;
        overflow: hidden;
        text-align: center;
      }
    }
  }
}