html {
    background-color: #242424;
}
body {
    background-color: #333;
    border: 1px solid #494949;
    box-shadow: 0 0 5px #0008;
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
}
video-nd {
    margin: auto;
    width: 80vw;
    height: fit-content;
    position: absolute !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
video-nd .thumb {
    width: 128px;
}
